.question-wrapper {
	border: 1px dotted #B2C0CB;
	border-radius:5px;
	padding:10px;
	margin-top:10px;
	position:relative;
	overflow:hidden;
}

ol.multiple-choice {
	list-style-type:upper-alpha;
}

.hint {
	position:absolute;
	bottom:10px;
	right:10px;
	z-index:999;
}

a.tooltip {
	color:#3398FE;
	text-decoration:none;
	font-weight:bold;
	position:relative;
}

a.tooltip span {
	font-size: 10px;
	position:absolute;
	z-index:999;
	white-space:pre-line;
	bottom:9999px;
	background:#333;
	color:#e0e0e0;
	padding:0px 7px;
	line-height:16px;
	opacity:0;
	width:175px;
	left:-200px;
	
}

a.tooltip span::before {
	content:"";
	display:block;
	border-left:10px solid #333;
	border-top:10px solid transparent;
	position:absolute;
	bottom:0px;
	left:187px;
}

a.tooltip:hover span {
	opacity:1;
	bottom:0px;
}

ol.multiple-choice li:hover {
	background:#fdfdfd;
}

.drag-option {
	width:100px;
	height:20px;
	line-height:20px;
	text-align:center;
	border:1px solid black;
	cursor:pointer;
	background:#fdfdfd;
}

.draggable {
	display:inline-block;
	border:1px solid black;
	padding:5px;
	cursor:pointer;
	background:#fdfdfd;
}

.match-container {
	position:relative;
	margin-top:20px;
	margin-bottom:20px;
}

.droppable {
	width:150px;
	height:40px;
	border:1px solid black;
	position:absolute;
	background:#fdfdfd;
	text-align:center;
	line-height:40px;
}

.match-list .droppable {
	position:static;
	margin:auto;
	display:inline-block;

}

.match-list > div {
	position:relative;
	margin-bottom:10px;
}

.match hr {
	position:absolute;
	border:3px solid black;
}

.question {
	display:inline-block;
	position:relative;
	top: -20px;
	padding-right:75px;
	font-weight:bold;
}

.results {
	display:none;
	margin-top:10px;
	padding:5px;
	border-radius:2px;
	margin-right:50px;
}

.incorrect {
	background:salmon;
	opacity:0.8;
}

.correct {
	background:#edf5cb;
	opacity:0.8;
}

#score {
	display:none;
	position:relative;
	width:100%;
	padding-top:10px;
	padding-bottom:10px;
	background:bisque;
	margin-top:20px;
	text-align:center;
	bottom:-20px;
	border-radius:2px;
	opacity:0.8;
}

.reaction-table {
	margin:auto;
	margin-top:10px;
	width:90%;
	text-align:center;
	border:2px solid #B2C0CB;
}

.reaction-table td, .reaction-table th {
	border:2px solid #B2C0CB;
	padding-right:5px;
	padding-left:5px;
}

.select-all {
	list-style-type:upper-alpha;
}

.select-all li {
	display:inline-block;
	width:40%;
}

.definition {
	display:inline-block;
	position:absolute;
	width:500px;
	top:-25px;
	padding-left:5px;
}

.definition p {
	vertical-align:top;
	top:0px;
}

.sortable {
	list-style:none;
}

.submit {
	display:block;
	position:absolute;
	background:none;
	border:none;
	top:5px;
	right:2px;
	color:#3398FE;
	font-weight:bold;
	font-size: 16px;
	padding-left:10px;
	padding-bottom: 10px;
}

input[type="text"] {
	display:block;
}

.hint span {
	display:block;
}